/* ==========================================================================
   #HEADER
   ========================================================================== */

.header {
  background-color: #fff;
}

.header__row {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 12px 15px;
}

.header__info {
  display: none;

  @include for-size(md-up) {
    display: block;
    font-weight: bold;
    font-size: rem(18px);
    line-height: 1.15;
    white-space: nowrap;
    text-transform: uppercase;
  }
}