/* ==========================================================================
   #NOTES
   ========================================================================== */

.notes__top {
  margin-bottom: 180px;
  background: #FFFFFF;

  @include for-size(sm-up) {
    margin-bottom: 200px;
  }

  @include for-size(md-up) {
    margin-bottom: 350px;
    padding-top: rem(50px);
    padding-bottom: rem(50px);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  }

  @include for-size(xl-up) {
    margin-bottom: 390px;
  }
}

.notes__foot {
  position: relative;
  background-color: $bg-green-light;
  height: 120px;
}

.notes__list {
  counter-reset: counter;
  text-transform: none;
  font-size: rem(16px);
  
  @include for-size(md-up) {
    font-size: rem(18px);
  }
  
  @include for-size(lg-up) {
    font-size: rem(20px);
  }

  @include for-size(xl-up) {
    font-size: rem(26px);
  }
}

.notes__list li + li {
  margin-top: rem(26px);

  @include for-size(lg-up) {
    margin-top: rem(36px);
  }
}

.notes__list li::before {
  counter-increment: counter;
  content: counters(counter, '.') '. ';
  font-weight: bold;
}

.notes-img {
  position: absolute;
  width: 225px;
  left: 50%;
  bottom: 40px;
  transform: translate(-50%, 0);

  @include for-size(sm-up) {
    width: 260px;
  }

  @include for-size(md-up) {
    bottom: 15px;
    width: 75%;
    max-width: 430px;
  }
}