/* ==========================================================================
   #THERAPY
   ========================================================================== */

.therapy__title {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(50px);

  @include for-size(lg-up) {
    margin-bottom: rem(80px);
  }
}

.therapy-graphs {
  position: relative;
}

.therapy-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.therapy-graph--top {
  margin-bottom: rem(50px);

  @include for-size(sm-up) {
    margin-bottom: 100px;
  }
  

  .progress__text {
    
    @include for-size(sm-up) {
      width: 73%;
      height: 73%;
      font-size: rem(72px);
    }
  }

  .progress__wrapper {

    @include for-size(sm-up) {
      margin-bottom: rem(30px);
    }
    
  }

  .progress--desktop {

    @include for-size(xs-only) {
      display: none;
    }
  }

  .progress--mobile {

    @include for-size(sm-up) {
      display: none;
    }
  }

  .therapy-graph__heading {
    max-width: none;
    white-space: nowrap;

    @include for-size(sm-up) {
      font-weight: bold;
    }

    @include for-size(lg-up) {
      font-size: rem(48px);
    }
  }
}

.therapy-graphs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: rem(-50px -4px 50px -4px);

  > * {
    width: 100%;

    @include for-size(sm-up) {
      width: 50%;
      margin-bottom: rem(40px);
    }

    @include for-size(md-up) {
      width: 33.333333%;
    }

    @include for-size(lg-up) {
      width: 25%;
    }
  }
}

.therapy-graph {
  margin-top: rem(50px);
  
  .progress__wrapper {
    margin-bottom: rem(20px);
  }

  .progress__meter,
  .progress__value {

    @include for-size(xs-only) {
      stroke-width: 30px;
    }
  }

  .progress__text {
    @include for-size(xs-only) {
      width: 68%;
      height: 68%;
    }
  }
}

.therapy-graph__heading {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: rem(30px);
  text-transform: none;
  color: $text-green;

  @include for-size(xs-only) {
    font-weight: normal;
    font-size: rem(24px);
    color: #000;
    text-transform: uppercase;
  }
}

.therapy-graphs__line {
  display: none;

  @include for-size(lg-up) {
    display: block;
    position: absolute;
    top: 156px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    width: 75.75%;
    height: 440px;
    border-left: 10px solid $grey-border;
    border-bottom: 10px solid $grey-border;
  }
}

.therapy-graphs__line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 1px;
  border-top: 10px solid $grey-border;

  @include for-size(xl-up) {
    width: 29%;
  }
}

.therapy-graphs__line::after {
  content: '';
  position: absolute;
  top: 0;
  left: 18%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(0, -35%);
  background-color: $bg-grey-lighter;

  @include for-size(xl-up) {
    left: 27%;
  }
}

.therapy__info {
  margin-bottom: rem(70px);
  margin-bottom: rem(60px);
}

.therapy__info--highlight {
  display: inline-block;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: #fff;
  background-color: #000;

  @include for-size(sm-up) {
    background-color: $bg-green;
  }
}